/* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #c778dd;
  --gray: #abb2bf;
  --background: #282c33;
  --white: #ffffff;

  /* Fonts */
  /* Effects */
}
body{
  background-color: var(--background);
}
